apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: logging
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      # VYLÚČENIE LOGOV SAMOTNÉHO ELK STACKU
      exclude_path ["/var/log/containers/fluentd*", "/var/log/containers/elasticsearch*", "/var/log/containers/kibana*"]
      pos_file /var/log/fluentd-containers.log.pos
      tag kubernetes.*
      read_from_head true
      <parse>
        @type none
      </parse>
    </source>

    <match **>
      @type elasticsearch
      host 10.109.235.237
      port 9200
      logstash_format true
      logstash_prefix fluentd
      <buffer>
        @type file
        path /var/log/fluentd-buffer
        flush_thread_count 2
        flush_interval 5s
        retry_forever true
        retry_type exponential_backoff
      </buffer>
    </match>
